{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="row">
        <div class="col-12 col-lg-4">
            <form action="{{ path('login') }}" method="post" name="login_form">
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                <label for="username">Nom d'utilisateur :</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control">

                <label for="password">Mot de passe :</label>
                <input type="password" id="password" name="_password" class="form-control">

                <button class="btn btn-success my-3" type="submit">Se connecter</button>
            </form>
        </div>
    </div>
{% endblock %}
